<div class ="ProfileDiv">
<div>
  <img src= "images/Logo.png" class = "logonavbar"/>
  <ul class ="navbarlogin">
    <li class = "navbarloginWelcome">Welcome Back, {{{ User }}}!</li>
    <li class = "navbarloginSignout"><a href = "/logout" class ="navbarloginSignupLink">SIGN OUT</a></li>
  </ul>
</div>
<table class ="RosterTable"> <!--Roster Table by Class (Display class info on top)-->
<tr>
  <th class ="RosterTableth">Student</th><th class ="RosterTableth"> Student ID </th>
</tr>
</table>

<Button>Refresh Data</Button> <!--Will refresh student present table and statistics today -->
<table> <!--Present Now table. Use timein from class information and Student Time in to yield these results-->
<tr>
  <th>Student</th><th>Time Arrived </th>
</tr>
</table>
</div>
