.loginMainDiv{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(255, 0, 0, 0.0)), url('images/LoginBackground.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 750px;

}

*:focus {
    outline: none;
}
.navbarlogin{
  list-style: none;
  display: inline;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
}
.navbarloginAbout{

  list-style: none;
  display: inline;
  font-family:"helvetica";
  color:white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: 30px;
}
.navbarloginSignup{
  list-style: none;
  display: inline;
  font-family:"helvetica";
  color:white;
  font-size: 20px;
  font-weight: 300;
  margin: 30px;
  letter-spacing: 2px;
}
.navbarloginSignupLink{
  color:white;
}
.navbarloginSignupLink:hover{
  text-decoration: none;

  color:gray;
}
.navbarloginSignupLink:active{
  text-decoration: none;
  color:white;
}
.logonavbar{
  width:60px;
  height:40px;
margin-left: 30px;
margin-top: 20px;
}
.headerlogo{
font-size: 35px;
color:white;
letter-spacing: -1px;
font-weight: 500;
font-family: "avenir";
}
.headerlogodiv
{
  margin-top: 70px;
  text-align: center;
  margin-bottom: 40px;
}
.headerlogoword{
color:#2ECC71;
}
.FormSignIn{
  margin-left: auto;
  margin-right: auto;
  border:2px solid white;
  width:40%;
  padding: 30px;
  height:auto;
  padding-bottom:30px;
  text-align: center;

}
.SignInHeader{
  font-size: 20px;
  color:white;
  font-weight: 200;
  letter-spacing: 2px;
}
.username{
  border-radius: 9px;
  border:none;
  color:#2ECC71;
  width:50%;
  margin-top: 10px;
  max-width: 200px;
  min-width: 100px;
  padding-left: 10px;
  opacity:0.7;
  font-size: 15px;
}
.usernameSignup{
  border-radius: 9px;
  border:none;
  color:#2ECC71;
  width:50%;

  max-width: 200px;
  min-width: 100px;
  padding-left: 10px;
  opacity:0.7;
  font-size: 15px;
}
.password{
  border-radius: 9px;
  font-size: 15px;
  border:none;
  opacity:0.7;
  color:#2ECC71;
  width:50%;
  max-width: 200px;
  min-width: 100px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.forgotpass{
  color:white;
}
.forgotpass:active{
  text-decoration: none;
  color:white;
}
.forgotpass:hover{
  text-decoration: none;
  color:gray;
}
.submitButton{
  background-color: white;
    margin-bottom: 20px;
    width:30%;
    max-width: 200px;
    min-width: 70px;
    border-radius: 12px;
    border: none;
    opacity: 0.9;
    color:black;
    font-family: "avenir";
    font-size:15px;
    border: 2px solid white;
    font-weight: 500;
}
.submitButton:hover{
  background-color: transparent;
  border: 2px solid #2ECC71;
  color:white;
  font-weight: bold;
}
