<div class = "loginMainDiv" class="img-responsive">
<div>
  <img src= "images/Logo.png" class = "logonavbar"/>
  <ul class ="navbarlogin">
  <li class = "navbarloginAbout"><a href = "#" class ="navbarloginSignupLink">ABOUT</a></li>
  <li class = "navbarloginSignup"><a href = "/login" class ="navbarloginSignupLink">LOGIN</a></li>
  </ul>
</div>
<div class = "headerlogodiv"><p class = "headerlogo">ATTENDANCE MADE <span class = "headerlogoword">DIFFERENT</span></p>
</div>
<div class = "FormSignIn">
  <p class ="SignInHeader">SIGN UP NOW </p>
<form action = "/signup" method ="POST">
  <input class = "username" id = "Tid" name = "Tid" type = "text" placeholder="Teachers Id"required/><br/><br/>
  <input class = "username" id ="email" name = "email" type ="text" placeholder="Email"autocomplete="off" required /> <br/><br/>
  <input class = "usernameSignup" id ="username" name = "username" type ="text" placeholder="Username"autocomplete="off" required /> <br/><br/>
  <input class = "password" id = "password" name = "password" type = "password" placeholder="Password" autocomplete="off" required/><br/><br/>
  <Button class ="submitButton" type="submit">Sign Up</Button>
</form>
<a href="/login" class="forgotpass">Already have an account?</a>
</div>

</div>
