<div class ="backgrounddiv">
<div class = "loginMainDiv" class="img-responsive">
<div class ="navbarclass">
  <img src= "images/Logo.png" class = "logonavbar"/>
  <ul class ="navbarlogin">
  <li class = "navbarloginAbout"><a href = "#about" class ="navbarloginSignupLink">ABOUT</a></li>
  <li class = "navbarloginSignup"><a href = "/signup" class ="navbarloginSignupLink">SIGN UP</a></li>
  </ul>
</div>
<div class = "headerlogodiv"><p class = "headerlogo">ATTENDANCE MADE <span class = "headerlogoword">DIFFERENT</span></p>
</div>
<div class = "FormSignIn">
  <p class ="SignInHeader">SIGN IN </p>
<form action = "/login" method ="POST">
  <input class = "username" id ="email" name = "email" type ="text" placeholder="Email"autocomplete="off" required /> <br/><br/>
  <input class = "password" id = "password" name = "password" type = "password" placeholder="Password" autocomplete="off" required/><br/><br/>
  <Button class ="submitButton" type="submit">Log In</Button>
</form>
<a href="#" class="forgotpass">Forgot Password</a>
</div>
</div>
</div>
<div class ="aboutsecintro" >
  <a name="about"></a>
<div class = "row">
  <div class="col-sm-4" ><p class ="rowheader">LOGISTICS<p>
    <p class = "rowinfo"><i class="ion-ios-pulse"></i><br><br>Track Attendance</p>
  </div>
  <div class="col-sm-4" ><p class ="rowheader">EFFICIENCY<p>
    <p class = "rowinfo"><i class="ion-load-c"></i><br><br>Reduce Wasting Precious Time</p>
  </div>
  <div class="col-sm-4"><p class ="rowheader">CREATIVITY<p>
    <p class = "rowinfo"><i class="ion-wand"></i><br><br>Increase Time for What Matters</p>
  </div>
</div>
<p class ="aboutinfheader">Start Exploring</p>
<p class ="aboutinfone">Track your students attendance without wasting educational time. Well organized tool designed to efficiently track attendance in a timely manner</p>
<p class = "getstartedp"><a class = "getstarted"href ="/signup"> Get Started <i class="ion-ios-arrow-right"></i></a></p>
</div>
