<div class = "loginMainDiv" class="img-responsive">
<div>
  <img src= "images/Logo.png" class = "logonavbar"/>
  <ul class ="navbarlogin">
  <li class = "navbarloginAbout"><a href = "#" class ="navbarloginSignupLink">ABOUT</a></li>
  <li class = "navbarloginSignup"><a href = "/signup" class ="navbarloginSignupLink">SIGN UP</a></li>
  </ul>
</div>
<div class = "headerlogodiv"><p class = "headerlogo">ATTENDANCE MADE <span class = "headerlogoword">DIFFERENT</span></p>
</div>
<div class = "FormSignIn">
  <p class ="SignInHeader">SIGN IN </p>
<form action = "/login" method ="POST">
  <input class = "username" id ="email" name = "email" type ="text" placeholder="Email"autocomplete="off" required /> <br/><br/>
  <input class = "password" id = "password" name = "password" type = "password" placeholder="Password" autocomplete="off" required/><br/><br/>
  <Button class ="submitButton" type="submit">Log In</Button>
</form>
<a href="#" class="forgotpass">Forgot Password</a>
</div>
</div>
<div>

</div>
